### MEDIPIX ###

# NAME
epicsEnvSet("MEDIPIX_NAME","MEDIPIX")
epicsEnvSet("MEDIPIX_TYPE_1","OMR")
epicsEnvSet("MEDIPIX_TYPE_2","DAC")
epicsEnvSet("MEDIPIX_TYPE_3","CONFIG")
epicsEnvSet("MEDIPIX_TYPE_4","SERVER")
epicsEnvSet("MEDIPIX_TYPE_5","SCAN")
epicsEnvSet("MEDIPIX_TYPE_6","EQ")
epicsEnvSet("MEDIPIX_TYPE_7","TP")
# FOR ASYN:
# Coloque aqui o IP do medipix. Porta padrão sempre 4000 (configurada no server_epics).
epicsEnvSet("MEDIPIX_IP/PORT","10.0.27.67:4000")
# Coloque aqui o IP do servidor. Porta padrão configurada no servidor.
epicsEnvSet("SERVER_IP/PORT_VARIABLE","10.2.101.45:4000")
# Coloque aqui o IP do servidor para ser configurado quando iniciado.
epicsEnvSet("SERVER_IP","10.2.101.45")
# Coloque aqui a porta do servidor. Porta padrão.
epicsEnvSet("SERVER_PORT","3000")
# Coloque aqui o endereço MAC do gateway da rede do medipix.
#epicsEnvSet("SERVER_MAC","00:1E:C9:21:9C:08")
